<!-- file path should be ./android/app/src/main/res/values/secrets.xml -->

<?xml version="1.0" encoding="utf-8"?>
<resources>
    <string name="secret_transistorsoft_token">9dca1...e34c9</string>
</resources>